* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: antiquewhite;
}

h1 {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 30px;
}

.main {
    color: orange;
    font-size: 50px;
}

p {
    background-color: lightyellow;
    width: 1000px;
    font-size: 20px;
}

ul {
    background-color: aquamarine;
    width: 960px;
    font-size: 20px;
}

ol {
    background-color: aqua;
    width: 960px;
    font-size: 20px;
}


#currychicken {
    height: 400px;
    width: auto;
}

#lagsana {
    height: 400px;
    width:auto;
}

.back {
    font-size: 30px;
}

a {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:hover {
    color: blueviolet;
}